<!DOCTYPE html>
<html>
<head>
  <title>Pyramid Webpack Starter Project</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ "{% webpack 'main', '.css' -%}" }}
    <link rel="stylesheet" type="text/css" href="{{ '{{ ASSET.url }}' }}">
  {{ "{% endwebpack %}" }}
</head>
<body>

<div id="react-app"></div>

{{ "{% webpack 'main', '.js' -%}" }}
  <script type="text/javascript" src="{{ '{{ ASSET.url }}' }}" async defer></script>
{{ "{% endwebpack %}" }}
</body>
</html>

